
<h1>Edit <%= resource_name.to_s.humanize %></h1>

<div class="content_width_wrapper">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <!-- Custom name-fields were enabled in 'application_controller.rb' -->
    <div class="field form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, required: true, class:"form-control form_single_line_input", placeholder:"first name" %>
    </div>

    <!-- Custom name-fields were enabled in 'application_controller.rb' -->
    <div class="field form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autofocus: true, required: true, class:"form-control form_single_line_input", placeholder:"last name" %>
    </div>

    <div class="field form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form_single_line_input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password %> <span><i>(
      <% if @minimum_password_length %>
        <%= @minimum_password_length %> characters minimum - optional )</i></span>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control form_single_line_input", placeholder:"password" %>
    <!-- </div>

    <div class="field form-group"> -->
      <%= f.label :password_confirmation, hidden: true %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form_single_line_input",
      placeholder:"password confirmation" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password %> <i>( Confirm changes - required )</i>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control form_single_line_input", placeholder:"current password" %>
    </div>

    <div style='padding-top:20px'></div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-default" %>
    </div>

  <% end %>

  <div style='padding-top:10px'></div>

  <hr>

  <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>

  <hr>

  <div style='padding-top:20px'></div>

  <%= link_to "Back", :back %>

  <div style='padding-top:60px'></div>

</div>
