<p id="notice"><%= notice %></p>

<h1>Products <%= @test_variable %></h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="30">Name</th>
      <th colspan="50">Description</th>
      <th colspan="20">Colour</th>
      <th colspan="20">Price</th>
      <th colspan="30">Image url</th>
      <th colspan="20"></th>
      <!-- <th class="prod_table_name_width">Name</th>
      <th class="prod_table_description_width">Description</th>
      <th class="prod_table_img_url_width">Image url</th>
      <th class="prod_links_links_width"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td colspan="30"><span class="text-overflow"><%= product.name %></span></td>
        <td colspan="50"><span class="text-overflow"><%= product.description %></span></td>
        <td colspan="20"><span class="text-overflow"><%= product.colour %></span></td>
        <td colspan="20"><span class="text-overflow"><%= number_to_currency(product.price, unit: "€") %></span></td>
        <td colspan="30"><span class="text-overflow"><%= product.image_url %></span></td>
        <td colspan="20"><%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <!-- <td class="prod_table_name_width"><span class="text-overflow"><%= product.name %></span></td>
        <td class="prod_table_description_width"><span class="text-overflow"><%= product.description %></span></td>
        <td class="prod_table_img_url_width"><span class="text-overflow"><%= product.image_url %></span></td>
        <td class="prod_links_links_width"><%= link_to 'Show', product %>&nbsp|
          <%= link_to 'Edit', edit_product_path(product) %>&nbsp|
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<!-- <a href="/products/2/edit">Edit</a> -->
<!-- <br> -->

<%= link_to 'New Product', new_product_path %>
<div class="product-main-bottom-spacing"></div>
