<%= javascript_include_tag 'alert_fade.js' %>

<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
    <p id="notice" class="alert alert-info"><%= alert %></p>
<% end %>

<!-- < % = @test_variable % > -->
<h1>Rubber Ducks</h1>

<%= form_with(id: 'product_search_form', url: products_path, method: 'get', local: true) do |form| %>
  <!-- < % = form.label :q, 'Search for:' % > -->
  <div class="container-fluid">
    <div class="form-group">
      <%= form.text_field :q, id: 'q', value: params[:q], class: 'form-control product_search_field', placeholder: 'Duck Name' %>
      <!-- < % = form.submit 'Search', id: 'product_search_btn', class: 'btn btn-default'  % > -->
      <%= button_tag(type: "submit", class: "btn btn-default", id: "product_search_btn") do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
  </div>
<% end %>

<!-- ############################################################### -->
<!-- ############################################################### -->
<!-- ############################################################### -->

<% if (signed_in? && current_user.admin?) %>
  <%= link_to 'New Duck', new_product_path %>
<% else %>
  <!-- <br> -->
<% end %>

<!-- Responsive row -->
<div id="product_index_show" class="container-fluid">
  <div class="row">

    <!-- Loop the products html into the webpage -->
    <% @products.each do |product| %>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="product_aspect_ratio_outer_2">
          <div class="product_aspect_ratio_inner_2">
            <%= image_tag(product.image_url,
              class: "img-responsive product_image_2",
              alt: product.image_url )
            %>
            <h3>
              <%= product.name %>
            </h3>
            <p>
              <%= product.description    %>
            </p>
            <p>
              <%= number_to_currency(product.price, unit: "€") + " (30min.)" %>
            </p>
            <p>
              <% if (signed_in? && current_user.admin?) %>
                <%= link_to 'Show', product %>
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <% if signed_in? %>
                  <%= link_to 'Book', simple_pages_debug_session_path(id: product.id) %>
                <% end %>
                <%= link_to 'Show', product %>
              <% end %>
            </p>
          </div>
        </div>
      </div>

    <% end %>

  </div> <!-- / row -->
</div> <!-- / container-fluid -->

<% if (signed_in? && current_user.admin?) %>
  <%= link_to 'New Duck', new_product_path %>
  <br><br><br>
<% end %>

<br>
<!-- <div class="product-main-bottom-spacing"></div> -->
