<h1>Showing Product</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span class="text-overflow"><%= @product.name %></span>
</p>

<p>
  <strong>Description:</strong>
  <span class="text-overflow"><%= @product.description %></span>
</p>

<p>
  <strong>Color:</strong>
  <span class="text-overflow"><%= @product.color %></span>
</p>

<p>
  <strong>Price (€):</strong>
  <span class="text-overflow"><%= @product.price %></span>
</p>

<p>
  <strong>Image url:</strong>
  <span class="text-overflow"><%= @product.image_url %></span>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<div class="product-show-bottom-spacing"></div>
