<h1>Showing Duck</h1>

<%= javascript_include_tag 'alert_fade.js' %>

<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
    <p id="notice" class="alert alert-info"><%= alert %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <span class="text-overflow"><%= @product.name %></span>
</p>

<p>
  <strong>Description:</strong>
  <span class="text-overflow"><%= @product.description %></span>
</p>

<p>
  <strong>Colour:</strong>
  <span class="text-overflow"><%= @product.colour %></span>
</p>

<p>
  <strong>Price:</strong>
  <span class="text-overflow"><%= number_to_currency(@product.price, unit: "€") %></span>
</p>

<p>
  <strong>Image url:</strong>
  <span class="text-overflow"><%= @product.image_url %></span>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<div class="product-show-bottom-spacing"></div>
