<!DOCTYPE html>
<html>
  <head>
    <title>RverstratenWebshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body>
    <header>
      <h1>
        Personal Note <span class="glyphicon glyphicon-music"></span>
      </h1>
      <p>
        Webshop for personalized musical accessories
      </p>
    </header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", simple_pages_about_path %></li>
        <li><%= link_to "Contact", simple_pages_contact_path %></li>
      </ul>
    </nav>
    <div id="body_wrapper">
      <%= yield %>
      <div id="top_bottom_spacing"></div>
    </div> <!-- / body_wrapper -->
    <footer>
      &copy; 2018 Ruben Verstraten
    </footer>
  </body>
</html>
