<!DOCTYPE html>
<html>
  <head>
    <title>RverstratenWebshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Neucha', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  </head>

  <body>

    <%= render "shared/header" %>

    <%= render "shared/nav" %>

    <!-- User Welcome message when signing in -->

    <div id="body_wrapper">
      <%= yield %>
      <div id="top_bottom_spacing"></div>
    </div> <!-- / body_wrapper -->

    <%= render "shared/footer" %>

  </body>
</html>
